body {
    margin: 0;
    background-color: #242b33;
}



.navbar {
    background-color: #24E6E7;
    color:aliceblue;
    padding: 0px;
    position: top;

}
.navbar a {
    color: #6B49BB;
    font-size: 40px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;

}
li{
    display: inline-block;
    padding-right: 5vw;
    font-size: 50px;
    font-weight: bold;
}

.content{
    padding: 50px;
    color: white;
}
.content h1{
    font-size: 90px;
}
.content a {
    color: #0A723A;
}
.galeria {
    padding: 90px;
    color: #DC8319;
    font-size: 40px;
}
.galeria img{
    height: 120px;
    border-radius: 10px;
}
.galeria a {
    color: #0A723A;
}
.galeria p {
    font-size: 20px;
    color: white;
    padding-right: 10px;
}
.v{
				font-size: 10px;
}
.navbar img{
    height: 100px;
}

.footer{
    background-color: rgb(153, 22, 5);
    color:antiquewhite;
    padding: 100px;
}
.footer img{
    height: 20px;
    position: relative;
    padding: 0px;
}
.fundo {
    background-color: #202024;
    border-radius: 10px;
    padding: 0px;
}
button {
    height: 30px;
    border-radius: 4px;
    color: white;
}
.voltar{
				background-color: #85898f;
				margin-bottom: -50px;
				padding: -50px;
}
.div{
				padding: 30px;
				border-bottom: 2px solid;
				border-color: #383e48;
				position: center;
				margin-top: 0px;
}
.div p{
				margin: -20px;
				margin-left: -130px;
}
.vs{
				margin-left: 80px;
}
.videos{
				margin: -10px;
				padding: 0px;
				background-color: #85898f;
}
    *{
      margin:0;
      padding:0;
    }
    
    .menu {
      width: 99.80%;
      height: -5px;
      background-color: rgb(26, 26, 26);
      font-family: 'Arial';

    }
    .menu a {
        font-size: 10px;

    }
    
    .menu ul{
      list-style: none;
      position: relative;
      
    }
    
    .menu ul li{
      width: 101px;
      float: left;
    }
    
    .menu a{
      padding: 20px;
      display: block;
      text-decoration: none;
      text-align: center;
      background-color: rgb(26, 26, 26);
      color:rgb(16, 87, 2);
    }
    .menu ul ul{
      position:absolute;
      visibility: hidden;
    }
    .menu ul li:hover ul{
      visibility: visible;
    }
    .menu a:hover{
      background-color: rgb(63, 14, 70);
      color:rgb(67, 219, 7);
    }
    .menu ul ul li{
      float:none;
      border-bottom: solid 0px;
    }
    label[for="cmenu"]{
      padding: 5px;
      background-color:rgba(20, 17, 17, 0.527);
      color:rgb(187, 115, 6);
      font-family:"Arial";
      text-align:center;
      font-size: 30px;
      cursor: pointer;
      width: 50px;
      height: 50px;
    }
    #cmenu {
        display: none;
    }
@media(max-width: 500px) {
    .banner{
    height: 200px;

}
.content{
    padding: 10px;
}
.content h1{
    font-size: 40px;
}
.galeria {
    padding: 20px;

    
}
.footer{
    background-color: rgb(153, 22, 5);
    color:antiquewhite;
    padding: 50px;
    font-size: 10px;
}
.navbar img{
    height: 60px;
    position: left;
    margin: -60px;
}
.videos{
				margin: 0px;
}
    label[for="cmenu"]{
    display: block;
      }
      #cmenu:checked ~ .menu{
        margin-left: 0;
      }
      .menu{
        margin-top: 0px;
        margin-left: -100%;
        transition: all .4s;
        position: absolute;
      }
      .menu ul li{
        width: 95%;
        float: none;
      }
      .menu ul ul{
        position: static;
        overflow: hidden;
        max-height: 0;
        transition: all .4s ;
      }
      .menu ul li:hover ul{
        height: auto;
        max-height: 200px;
        
      }
    }
